*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    width: 100%;
    height: auto;
    background-color:grey;
}
div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.red{
background-color: red;
top: 0;
left: 0;

}
.blue{
background-color: blue;
top: 0;
right: 0;
}
.yellow{
background-color:yellow;
bottom: 0;
right: 0;
}
.green{
background-color: green;
bottom: 0;
left: 0;
}

